* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;

}

header {
/*
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)) ,url(top%20backg.jpg);
    background-position: center;
    background-size: cover;
*/
    position: relative;
}

nav {
    background-color: burlywood;
    z-index: 300;
    position: absolute;
    top: 0;
    width: 100%;
}

.log-nav {
    display: flex;
}

.bars {
    width: 30px;
    height: 4px;
    background: #595c5f;
    margin: 4px;
    border-radius: 2px;
}
.toggle .bar1{
   transform: rotate(-45deg) translate(-6px,6px);
    transition: all 1s linear;
}
.toggle .bar2{
    opacity:0;
}
.toggle .bar3{
   transform: rotate(45deg) translate(-6px,-6px);
    transition: all 1s linear;
}

.burger {
    margin-right: 2rem;
    align-self: center;
    cursor: pointer;
    transition: transform 1s linear;
}

.log-name {
    font-weight: 600;
    font-style: oblique;
    align-self: flex-end;
    font-family: serif;
}

.navy {
    list-style-type: none;
    padding: 0;


}

.navy a {
    display: block;
    background-color: darksalmon;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: all 1s ease-in-out;
}

.navy a:hover {
    padding: 15px;
    background-color: wheat;
    color: grey;

}

.differ {
    border-top: 3px solid #333536;
}

.nav-logo {
    display: none;
}



@media(min-width:768px) {
    .logo-nav-container {
        display: none;
    }

    nav {
        background-color: transparent;
    }

    .nav-logo {
        display: inline-block;
        display: flex;

    }

    .navy {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .list {
        display: flex;
        align-items: center;
    }

    .list a {
        display: block;
        background: transparent;
        padding: 1em;
    }

    .log-name {
        color: white;
    }

    .list a:hover{
       background-color: burlywood;
        color: white;
        transform: translateY(-15%);
        background: transparent;
        
    }
    .list .active::after{
      content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: white;
     left: 0;
     bottom: 20%;
    }
    .list .active:hover{
      transform: translateY(0);  
    }
    .name-div{
  position: relative;
    }
    .nav-logo .name-div::after{
        content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: white;
     left: 0;
     bottom: 0%; 
    }

}

/*end of anvbar*/
/*start of bannerr*/
.banner-top{
    text-align: center;
    color: white;
 position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
    z-index: 2;
    
}
.welc-text{
    font-weight: 300;
    font-style: oblique;
    align-self: flex-end;
    font-family: serif;
    color: tomato;
}
.banner-top .name-div::after{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: white;
     left: 0;
     bottom: 0%;
    
}
.baner-log{
font-size: 4rem;
color: wheat;    
}
.ban-social{
    display: block;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    background-color: aliceblue;
    
}
.fa-facebook{
   color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-instagram{
    color: #8d6909;
}
.fa-google{
    color: #dd4b39;
}
.ban-social:hover{
 transform: translateY(-30%);

}
.banner_icons{
    
    border-radius: 50%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5,2rem);
     grid-gap: 0.8rem;
    justify-content: center;
}
/*send of banner*/

@media(max-width:992px){
    .banner-top{
        top: 35%;
        
    }
    .baner-log{
     display: none;
    }
    .welc-text{
        font-size: 3rem;
    }

    
}

/*start of about*/
.disc-text{
color: coral;
font-style: oblique;    
}
.about-head{
position: relative;
font-weight: bold;
font-family:sans-serif;
font-style: oblique;    
}

.about-link{
color: orange;
cursor: pointer;
display: inline-block;
}
.about-link:hover{
color: orangered;
}
.about-link::after{
    content: '';
    width: 130px;
    height: 4px;
    position: absolute;
    background-color: orange;
     left:37%;
     bottom: 0%;
    
}

/*start of about swiper*/
.slide-img{
    width:400px;
    border-radius: 20px;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
}
.swiper-container{
    width: 400px;
    border-radius: 20px;
}


/*end of about swiper*/

/*end of about*/

.taste{
    background: url(tasteB.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.taste-head{
   color: orangered;
    font-style: oblique;
    font-weight: bold;
    
}
.taste-text{
    color: wheat;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.taste-text:hover{
    color: tomato;
}
.taste-line{
    border-top: 3px solid white;
    width: 30%;
}


/*start of menu*/

.menu-img{
   display: flex;
    flex-wrap: wrap;
}
.menu-top-img{
    width: 300px;
    opacity: 0.8;
    transition:all 2s ease; 
}
.img-menu1{
   transform: scale(0.6) rotate(-320deg); 
}
.img-menu2{
   transform: scale(0.6) rotate(-40deg);
}
.img-menu3{
    transform: scale(0.6) rotate(-40deg);
}
.img-menu4{
    transform: scale(0.6) rotate(-350deg);
}

.menu-top-img:hover{
    outline: 10px solid #08153c;
    outline-offset: 0.8rem;
    opacity: 1;
    z-index: 20;
    transform: scale(1.3) rotate(20deg);

}
.menu-book-col{
    position: relative;
}
.men-head{
    color: coral;
    font-style: oblique;
    
}
.men-down-head{
    font-weight: bold;
}
/*menu book*/
.menu-book-card{
width: 300px;
height: 400px;
background: #fff;
transform-style: preserve-3d;
position: absolute;
transform:perspective(2000px);
box-shadow: inset 300px 0 50px rgba(0,0,0,0.5),0 20px 100px rgba(0,0,0,0.5); 
left: 20%;    
transition: all 1s ease-in-out;    
}

.menu-book-card:hover{
  transform: translate(-40%,-40%)perspective(2000px)rotate(-10deg);
   box-shadow: inset 20px 0 50px rgba(0,0,0,0.5),0 20px 10px rgba(0,0,0,0.5); 
}
.menu-book-card::before{
   content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 6px;
    background: rgba(165, 56, 42, 0.96);
    transform-origin: bottom;
    transform: skewX(-45deg);
    
}
.menu-book-card::after{
   content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 6px;
    height: 100%;
    background: rgba(165, 56, 42, 0.96);
    transform-origin: left;
    transform: skewY(-45deg);
    
}
.menu-book-card .img-box{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition:all 1s cubic-bezier(.15,1.7,.84,.58);
}
.menu-img{
   width: 100%;
    height: 100%; 
}
.menu-book-card:hover .img-box{
    
    transform: rotateY(-135deg);
}
.menu-book-card .details-menu{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 25px;
    z-index: -1;
}
.open-menu-link{
    background-color: burlywood;
    color: white;
     box-shadow: 12px 20px 25px rgba(0,0,0,0.5);
    transition: all 0.5s ease-in-out;
}
.open-menu-link:hover{
transform: translateY(-20%);
background-color: chocolate;
color: white;
}



/*menu book*/
.open-menu-linky {
    display: none;
    background-color: burlywood;
    color: white;
     box-shadow: 12px 20px 25px rgba(0,0,0,0.5);
    transition: all 0.5s ease-in-out;
}
.open-menu-linky:hover{
    transform: translateY(-20%);
background-color: chocolate;
color: white;
    
}
.menu-cont{
    display: none;
}
@media(max-width:768px){
    .menu-book-card{
       display: none;
    }
    .open-menu-linky {
    display: block;
}

}

/*start of menu products*/
.menu-header{
    font-weight: bold;
}
/*start of expandable search-bar*/
.search-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-title{
position: absolute;
width: 20em;
opacity: 1;
font-weight: 600;
transition: all 0.7s ease-in-out;    

}
fieldset{
    outline: 0;
    border: 0;
    position: relative;
    margin-top: 6rem;
}
.search-bar{
    width:2.8em;
    height: 2.8em;
    padding: 8px;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 3px 19px 3px rgba(15,15,15,0.4);
    transition: all 0.7s ease-in-out;
    
}
.search-bar:focus{
    outline: 0;
    width: 20em;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px rgba(255,255,0,0.9);
    text-align: center;
    
}
.search-bar::-webkit-input-placeholder{
    opacity: 0;
    font-size: 16px;
    color: gray;
}
.search-bar:focus::-webkit-input-placeholder{
     opacity: 1;
    text-align: center;
    }
.icon-search-div{
    position: absolute;
    top: 1px;
    right: 0px;
    width: 42px;
    height: 41px;
    cursor: pointer;
}
.icon-search-div .search-icon{
    position: relative;
    top: 5px;
    left: 8px;
    width: 70%;
    height: 70%;
    opacity: 1;
    border-radius: 50%;
    border: 3px solid gray;
    transition: opacity 0.35s ease, transform 0.5s ease-in-out;
    box-shadow: 0px 0px 1px rgba(15,15,15,0.4);
}
.search-icon::after{
    content: '';
    position: absolute;
    bottom: -9px;
    right: -2px;
    width: 8px;
    border-radius: 3px;
    transform: rotate(-35deg);
    height: 10px;
    background-color: gray;
    box-shadow: 0px 0px 1px rgba(15,15,15,0.4);
}

/*end of expandable search-bar*/
.show{
    display: block;
}
/*menu tabs*/
.navely{
    display: flex;
    justify-content: center;
}
.navely .current a{
    background:chocolate;
    color:aliceblue;
    transform: translateY(-8%);
    
}
.navely li{
    list-style-type: none;
}
.navely li  a{
    text-decoration: none;
    color: white;
    background:burlywood;
    outline:none;
    padding:0.5rem;
    display: block;
    border-radius:8px;
    transition:transform 0.6s ease,background 0.6s ease;
}
.navely li  a:hover{
    
    color:aliceblue;
    transform: translateY(-15%);
    background:chocolate;
    
}
.img-container{
    position: relative;
    overflow: hidden;
}
.product-img{
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease-in-out;
}

.transper-container{
    background:rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    border-radius: 20px;
}
.img-container:hover .transper-container{
    opacity: 1;
    
}
#bread{
    background: url(bread-b.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#coffee{
    background: url(top%20backg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#eggs{
    background: url(egg.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}#milk{
    background: url(milk.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.panely.current{
    display: flex;
}
.panely{
    display: none;
}
.img-container:hover .product-img{
    transform: scale(1.3,1.3);
    
}
.prod-details{
    text-align: center;
    border-radius: 30px;
    background:rgba(0,0,0,0.8);
    color: white;
    
    
}
.price-top{
background: coral;
color: white;
display: inline-block;
padding: 5px;
transform: translateX(-100%);
transition: all 1s ease-in-out;    
border-bottom-right-radius: 20px;    
}
.img-container:hover .price-top{
  transform: translateX(0);  
}
.cart-shop-item{
    font-size: 3rem;
    color:darkorange;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.cart-shop-item:hover{
    transform: scale(1.1);
    color: bisque;
}

/*start of product*/
/*end start of menu products*/
/*start of clients*/
.client-container{
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(client%20bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}


/*end of clients*/
/*contact area*/
.contact-cont{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(contBg.jpg);
      
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.size-Div{
    color: burlywood;
    font-size: 3rem;
}
.icon-text p{
    color: beige;
}
.loc-img{
width: 500px;
height: 333px;    
}
.cont{
    border-top: 3px solid aliceblue;
    width: 40%;
}
.con-line{
   border-top: 3px solid #363333;
    width: 40%; 
}


/*contact area*/
/*start of team area*/
.team-col{
position: relative;
}
.card-team{
   width: 300px;
    height: 400px;
   
}
.img-div-team{
  position: absolute;
   top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    transition: all 0.5s ease-in-out;
    transform: translateY(0) rotateX(0deg);
    cursor: pointer;
}
.card-team:hover .img-div-team{
   transform: translateY(-100%) rotateX(90deg); 
}

.detail-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
     transform-origin: top;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    transform: translateY(100%) rotateX(-90deg);
}
.card-team:hover .detail-div{
    transform: translateY(0) rotateX(0deg);
    
}
.team-info{
   position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    transform: translateY(-60%);
}
.team-info h2{
    color: white;
}
.team-info h5{
    color: beige;
}
.team-info p{
    color: bisque;
}
.team-social-card{
background-color: aliceblue;
border-radius: 30px;
margin-top:3rem;    
    
}
.team-social{
 display: block;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    background-color: aliceblue;
    font-size: 2.3rem;
    
}
.fa-whatsapp{
    color: green;
}
.team_icons{
    
    border-radius: 50%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5,3rem);
     grid-gap: 0.5rem;
    justify-content: center;
}
.team-social:hover{
    transform: translateY(-20%);
    background-color:darksalmon;
}

/*end of team area*/

/*book area*/
.book-col{
    display: flex;
    flex-wrap: wrap;
    
}
.book-img{
    width: 300px;
    padding: 4px;
}


/*book area*/
/*footer area*/
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
}
.socialy-img{
    width: 34px;
    padding: 5px;
    transition: all 1s ease-in-out;
}
.socialy-img:hover{
    transform: translateY(-30%) scale(1.2);
}
.div-social{
    position: absolute;
    bottom: 0;
}
.end-cont{
     background-color: #5a5959;
    color: #d5d5d5;
    
}

/*footer area*/

/*cart area*/
.cart-item-span{
color:saddlebrown;
position: relative;
cursor: pointer; 
transition: all 0.8s ease-in-out;
position: absolute;
left:0;
transform:translateY(-30%);    
}
.cart-item-span:hover{
transform:translateY(-50%);
color: chocolate;    
}
.cart-icon{
  font-size:2rem;  
}
.cart-items{
    position: absolute;
    
    top:-16px;
    right:-6px;
    border-radius:30%;
    background-color: saddlebrown;
    padding:0.5px;
    color: white;
}


.cartline{
    border-top:2px solid wheat;
    width: 40%;
}
.overlay{
   background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top:0;
    right:0; 
transform: translateX(100%);
    z-index: 20;
    transition:all 0.6s linear;
    position: fixed;

    
    
}
.cart-container{
    position:fixed;
    top:20%;
    right:0; 
    width:100%;
    height:80%;
    overflow: auto;
    z-index:20;
    background:rgb(0,0,0,0.7);
    padding:1.5rem;
    transition:all 0.7s linear;
    color: wheat;
    border-bottom-left-radius: 10%;
    
}
@media(max-width:3000px){
    .cart-container{
        width: 30vh;
        min-width: 450px;
    }
    .overlay{
         width: 30vh;
        min-width: 450px;
    }

}
@media(max-width:768px){
    .cart-container{
        width: 30vh;
        min-width: 450px;
    }
     .overlay{
         width: 30vh;
        min-width: 450px;
    }
}
@media(max-width:576px){
    .cart-container{
        width: 30vh;
        min-width: 400px;
    }
     .overlay{
         width: 30vh;
        min-width: 400px;
    }
}

.transperBg{
   transform:translateX(0); 
}
/*cart products area*/
.cart-item{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap:1.5rem;
    margin:1.5rem 0;
}
.cart-imgy{
    width:75px;
    height:75px;
    border-radius:50%;
}
.cart-item h4{
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing:0.1rem;
}
.cart-item h5{
    margin: 0.5rem 0;
    letter-spacing:0.1rem;
}
.item-amount{
    text-align:center;
}
.increment{
    margin-left:0.3rem;
    border-radius: 50%;
}
.decrement{
    margin-right:0.3rem;
    border-radius: 50%;
}
.increment:hover{
    cursor: pointer;
    
}
.decrement:hover{
    cursor: pointer;
}
input[type=number]{
    background-color:rgb(231,226,221);
    width: 30%;
}
.remove-item{
    color:aliceblue;
    cursor: pointer;
    width:40px;
}

.cart-footer{
    margin-top: 2rem;
    letter-spacing:0.1rem;
    text-align:center;
    
}
.cart-footer h3{
    text-transform:capitalize;
    margin-bottom:1rem;
}

/*cart area*/
.categs-col{
    position: relative;
}

